[Unit]
Description=GZHU Library Reservation Timer
Requires=gzhu-lib-reserve-task.service

[Timer]
OnCalendar=*-*-* 07:00:00 Asia/Shanghai
OnCalendar=*-*-* 08..21:00:00 Asia/Shanghai
OnCalendar=*-*-* 08..21:25:00 Asia/Shanghai
OnCalendar=*-*-* 08..21:50:00 Asia/Shanghai
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
